# env
.env
.env.local

# node
node_modules/
dist/
.vite/

# python
.venv
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# prisma
backend/node_modules/

# os
.DS_Store
Thumbs.db

agents/music/music.log
agents/music/music_err.log
backend/backend.log
